
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main{
   padding: 1rem; 
}


.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(rgba(192, 55, 197, 0.404), rgba(68, 128, 0, 0.815), rgba(191, 224, 164, 0.76));
    padding: 0  1.5rem;

}

.main-header_nav{
    height: 100%;
    display: flex;
    align-items: center;

}

.main-header__item-list{
    list-style: none;
    margin: 0  1rem ;
    padding: 0;
    display: flex;


}

.main-header__item {
    margin: 0;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: rgb(231, 158, 62);
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: rgb(58, 9, 194); 

}


